html 
  head 
    title Accesories and Wearables
    style. 
      *{
        margin: 0;
        padding: 0;
      }
      h1 {
        font-family: Lucida Handwriting;
        margin:20px;
        text-align: left;
        color: green;
        font-size: 30px;
      }
      div{
        font-size: 20px;
      }
      body{
        background-position: center;
        background-height: 100px;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      .navbar{
        gap: 20px;
        margin-left: 15%;
      }
      a{  
        padding: 5px;
        margin: 15px 0 15px 10px;
        color: navy;
        text-decoration: none;
      }
      .navbarsec{
        position  : sticky;
        width: 130%;
        height:35px;
        align-items: right;
        padding: 0 0 0 10%;
        display:flex;
        opacity: 0.8;
        background-color: orange;
        padding:15px;
      }
      img {
          margin:20px;
          width:250px;
          height:300px;
      }
      .flexdiv{
        display:flex;
      }
      .imgcontainer{
        display:flex;
      }
      .imgcontainerchild{
        border : 2px solid grey;
        width:350px;
        margin:20px;
        text-align : center;
      }
      .home{
        font-size:40px;
        padding: 5px;
      }
      footer {
        margin: 20px;
        bottom: 0;
        width: 100%;
        height: 20px;
      }}
  body 
    section.navbarsec
      p.title 
        a.home(href = '/') RNP Drug Store

      div.navbar
        a(href='/personals') Personal Care
        a(href='/ayurvedics') Ayurvedics
        a(href='/foods') Foods and Drinks
        a(href='/accesories' autofocus) Accesories and wearables
    h1 Accesories and Wearables 
    section.flexdiv
          div.imgcontainer
              div.imgcontainerchild
                  img(src=accesoriesdata[0].image)
                  h2 #{accesoriesdata[0].name}
                  p #{accesoriesdata[0].description}                
                  br
                  span MRP :₹ #{accesoriesdata[0].price} 
          div.imgcontainer
              div.imgcontainerchild
                  img(src=accesoriesdata[1].image)
                  h2 #{accesoriesdata[1].name}
                  p #{accesoriesdata[1].description}                
                  br
                  span MRP :₹ #{accesoriesdata[1].price} 
          div.imgcontainer
              div.imgcontainerchild
                  img(src=accesoriesdata[2].image)
                  h2 #{accesoriesdata[2].name}
                  p #{accesoriesdata[2].description}                
                  br
                  span MRP :₹ #{accesoriesdata[2].price} 
          div.imgcontainer
              div.imgcontainerchild
                  img(src=accesoriesdata[3].image)
                  h2 #{accesoriesdata[3].name}
                  p #{accesoriesdata[3].description}                
                  br
                  span MRP :₹ #{accesoriesdata[3].price} 
    footer Copyright © 2023 RNP Drug Store 
      a.foot(href = 'https://mail.google.com/mail/u/0/#inbox?compose=DmwnWsmHbFRVpxcNKkwxMsCQmwNkwBcJrGkTmRslBHdHnDHCBjTFTMjNTscMZzTtKCtzCkxFQwMl') Contact: +15856380143 
      a.foot(href = '/about') About
