html 
  head 
    title #{title}
    style. 
      *{
        margin: 0;
        padding: 0;
      }
      h1 {
        text-align: center;
        color: thick-brown;
        font-size: 30px;
      }
      div{
        font-size: 20px;
      }
      .navbar{
        gap: 20px;
        margin-left: 300px;
      }
      a{  
        padding: 5px;
        margin: 15px 0 15px 10px;
        color:navy;
        text-decoration: none;
      }
      .navbarsec{
        align-items: center;
        padding: 0 0 0 10%;
        display:flex;
        opacity: 0.6;
        background-color: lightgrey;
        padding:20px;
      }
      .back{
        padding :20px;
        margin-left : 20px;
        font-size: 40px;
        color: red;
      }
      .flexdiv{
        display:flex;
      }
      p{
        font-size:15px;
      }
      img{
        width:350px;
        height:250px;
        margin:20px;
      }

      .spects{
        width:350px;
      }

  body 
    section.navbarsec
      h1 #{title}
      div.navbar
        a(href='/personals') Personals
        a(href='/ayurvedics') ayurvedics
        a(href='/foods') foods
        a(href='/accesories') accesories
    h1 personal care
        section.flexdiv
          div.imgcontainer
              div.imgcontainerchild
                  img.spects(src=ayurvedicsdata[0].image)
                  h2 #{ayurvedicsdata[0].name}
                  p #{ayurvedicsdata[0].description}                
                  br
                  span #{ayurvedicsdata[0].price} ₹
          div.imgcontainer
              div.imgcontainerchild
                  img(src=ayurvedicsdata[1].image)
                  h2 #{ayurvedicsdata[1].name}
                  p #{ayurvedicsdata[1].description}                
                  br
                  span #{ayurvedicsdata[1].price} ₹
          div.imgcontainer
              div.imgcontainerchild
                  img(src=ayurvedicsdata[2].image)
                  h2 #{ayurvedicsdata[2].name}
                  p #{ayurvedicsdata[2].description}                
                  br
                  span #{ayurvedicsdata[2].price} ₹