html 
  head 
    title Personal Care
    style. 
      *{
        margin: 0;
        padding: 0;
      }
      h1 {
        margin:20px;
        text-align: left;
        color: green;
        font-size: 30px;
      }
      div{
        font-size: 20px;
      }
      body{
        background-position: center;
        background-height: 100px;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      .navbar{
        gap: 20px;
        margin-left: 15%;
      }
      a{  
        padding: 5px;
        margin: 15px 0 15px 10px;
        color: navy;
        text-decoration: none;
      }
      .navbarsec{
        position  : sticky;
        width: 130%;
        height:35px;
        align-items: right;
        padding: 0 0 0 10%;
        display:flex;
        opacity: 0.7;
        background-color: orange;
        padding:15px;
      }
      img {
          margin:20px;
          width:250px;
          height:300px;
      }
      .flexdiv{
        display:flex;
      }
      .imgcontainer{
        display:flex;
      }
      .imgcontainerchild{
        border : 2px solid grey;
        width:350px;
        margin:20px;
        text-align : center;
      }
      .home{
        font-size:40px;
        padding: 5px;
      }
  body 
    section.navbarsec
      p.title 
        a.home(href = '/') RNP Drug Store
      div.navbar
        a(href='/personals') Personal care
        a(href='/ayurvedics' autofocus) Ayurvedics
        a(href='/foods') Foods and Drinks
        a(href='/accesories') Accesories and wearables
    h1 Ayurvedics 
    section.flexdiv
          div.imgcontainer
              div.imgcontainerchild
                  img(src=ayurvedicsdata[0].image)
                  h2 #{ayurvedicsdata[0].name}
                  p #{ayurvedicsdata[0].description}                
                  br
                  span MRP :#{ayurvedicsdata[0].price} ₹
          div.imgcontainer
              div.imgcontainerchild
                  img(src=ayurvedicsdata[1].image)
                  h2 #{ayurvedicsdata[1].name}
                  p #{ayurvedicsdata[1].description}                
                  br
                  span MRP :#{ayurvedicsdata[1].price} ₹
          div.imgcontainer
              div.imgcontainerchild
                  img(src=ayurvedicsdata[2].image)
                  h2 #{ayurvedicsdata[2].name}
                  p #{ayurvedicsdata[2].description}                
                  br
                  span MRP :#{ayurvedicsdata[2].price} ₹
          //- div.imgcontainer
          //-     div.imgcontainerchild
          //-         img(src=ayurvedicsdata[3].image)
          //-         h2 #{ayurvedicsdata[3].name}
          //-         p #{ayurvedicsdata[3].description}                
          //-         br
          //-         span MRP :#{ayurvedicsdata[3].price} ₹
          