html 
  head 
    title Healthy Foods and Drinks
    style. 
      *{
        margin: 0;
        padding: 0;
      }
      h1 {
        margin:20px;
        text-align: left;
        color: green;
        font-size: 30px;
      }
      div{
        font-size: 20px;
      }
      body{
        background-position: center;
        background-height: 100px;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      .navbar{
        gap: 20px;
        margin-right:10%;
      }
      a{  
        padding: 5px;
        margin: 15px 0 15px 10px;
        color: navy;
        text-decoration: none;
      }
      .navbarsec{
        position  : sticky;
        width: 130%;
        height:30px;
        align-items: right;
        padding: 0 0 0 10%;
        display:flex;
        opacity: 0.7;
        background-color: orange;
        padding:15px;
      }
      img {
          margin:20px;
          width:250px;
          height:300px;
      }
      .flexdiv{
        display:flex;
      }
      .imgcontainer{
        color:black;
        display:flex;
      }
      .imgcontainerchild{
        border : 2px solid grey;
        width:350px;
        margin:20px;
        text-align : center;
      }
  body 
    section.navbarsec
      div.navbar
        a(href='/personals') Personal care
        a(href='/ayurvedics') Ayurvedics
        a(href='/foods' autofocus) Foods and Drinks
        a(href='/accesories') Accesories and wearables
    h1 Healthy Foods and Drinks 
    section.flexdiv
          div.imgcontainer
              div.imgcontainerchild
                  img(src=foodsdata[0].image)
                  h2 #{foodsdata[0].name}
                  p #{foodsdata[0].description}                
                  br
                  span MRP :#{foodsdata[0].price} ₹
          div.imgcontainer
              div.imgcontainerchild
                  img(src=foodsdata[1].image)
                  h2 #{foodsdata[1].name}
                  p #{foodsdata[1].description}                
                  br
                  span MRP :#{foodsdata[1].price} ₹
          div.imgcontainer
              div.imgcontainerchild
                  img(src=foodsdata[2].image)
                  h2 #{foodsdata[2].name}
                  p #{foodsdata[2].description}                
                  br
                  span MRP :#{foodsdata[2].price} ₹
          div.imgcontainer
              div.imgcontainerchild
                  img(src=foodsdata[3].image)
                  h2 #{foodsdata[3].name}
                  p #{foodsdata[3].description}                
                  br
                  span MRP :#{foodsdata[3].price} ₹
          